.main
  display: flex
  align-items: center
  justify-content: space-between
  padding-top: 70px
  padding-bottom: 50px
  h1
    font-size: 60px
    font-weight: 700
  &-text
    &__title
      margin-bottom: 5px
    &__subtitle
      font-size: 36px
      font-weight: 300
      width: 320px
      margin-bottom: 65px
    &__benefit
      display: flex
      flex-direction: column
      &-item
        display: flex
        align-items: center
        margin-bottom: 25px
        &_img
          display: flex
          justify-content: center
          align-items: center
          min-width: 64px
          max-width: 65px
          margin-right: 15px
        &_text
          font-size: 18px
          width: 255px     
  &-form //Обертка инпутов
    display: flex
    flex-direction: column
    align-items: center
    width: 285px
    &__bg
      padding: 10px
      background: #ffffff
    &__wrap
      padding: 23px 37px
      border: 2px solid #fafbfc
      border-radius: 4px
      display: flex
      flex-direction: column
      align-items: center
    &__text
      text-align: center
      width: 215px
      margin-bottom: 28px
      &-title
        font-size: 24px
        font-weight: 700
        margin-bottom: 8px
      &-subtitle
        font-size: 15px
        font-weight: 300
    
    &__input
      width: 100%
      margin-bottom: 18px
    &__radio
      margin-bottom: 28px
      span
        display: inline-block
        padding: 11px 25px
        width: 49%
        background: #f8f8f8
        border: 1px solid #e4e7ea
        font-size: 12px
        font-weight: 300
        position: relative
        cursor: pointer
        &.btn-left
          border-radius: 5px 0 0 5px
          left: 2px
        &.btn-right
          border-radius: 0 5px 5px 0
          right: 2px
    &__btn
      width: 99%
      margin-bottom: 25px
      &:active
        margin-bottom: 29px
    &__descr
      width: 220px
      color: #8090a7
      font-size: 10px
      font-weight: 300
      &-link
        color: #2066da
        text-decoration: underline

