@media (max-width: 1200px)
  .bigform
    &-wrap
      margin-right: 40px
    &-content
      padding: 39px 19px 15px 19px
      &__input
        &-contacts
          width: 300px
  .calc
    &-wrap
      padding: 30px 50px
  
@media (max-width: 991px)
  .header
    &-top
      &__contacts
        &-time
          margin-right: 40px
    
  .main
    h1
      font-size: 50px
    &-text
      &__subtitle
        font-size: 30px
    &-form
      width: 250px
      &__radio
        margin-bottom: 20px
        span
          padding: 10px 15px
      &__wrap
        padding: 25px 20px
      &__input
        margin-bottom: 15px
        padding: 15px 20px
      &__btn
        margin-bottom: 20px
        padding: 15px 50px
  
  .object
    &-item
      &:nth-child(2)
        margin: 0 30px
      &__img
        width: 210px
  .example
    &s
      flex-direction: column
      align-items: center
    &-bg
      margin-bottom: 30px
      &:first-child
        margin-right: 0
    &-photo
      &__img
        margin-bottom: 15px
      &__comment
        font-size: 13px
        font-weight: 500
  
  .bigform
    &-wrap
      &s
        flex-direction: column
      margin-right: 0
      margin-bottom: 30px
    &-content
      &__input
        &-contacts
          width: 370px
  .calc
    &-wrap
      padding: 30px 40px
    &-btn
      width: 250px
      padding: 25px 30px

@media (max-width: 767px)
  .hidden-mobile
    display: none
  .header
    &-top
      &__logo
        &-block
          &_text
            display: none
      &__contacts
        &-time
          margin-right: 25px
  .main
    flex-direction: column
    align-items: center
    &-text
      &__title, &__subtitle
        text-align: center
      &__benefit
        margin-bottom: 30px
    &-form
      width: 285px
      &__wrap
        padding: 30px 40px
      &__input
      margin-bottom: 21px
      &__radio
        margin-bottom: 30px
        span
          padding: 14px 25px
      &__btn
        padding: 25px 65px
        width: 100%
  
  .features
    &-item
      width: 49%
  
  .object
    &-wrap
      flex-direction: column
      align-items: center
    &-item
      margin-bottom: 30px
      &:nth-child(2)
        margin: 0 0 30px 0
      &__img
        width: 227px
        margin-bottom: 15px

  .bigform
    &-content
      &__input
        &-sqrcity
          width: 179px
          margin-right: 15px
          &_sqr
            max-width: 60px
            padding: 17px 15px
          &_region
            width: 108px
        &-contacts
          width: 250px
  .calc
    &-wrap
      flex-direction: column
    &__title
      margin-bottom: 30px
    &-input
      &__wrap
        margin-bottom: 20px

@media(max-width: 575px)
  .header
    &-top
      align-items: center
  .main
    &-text
      display: flex
      flex-direction: column
      align-items: center
      &__benefit
        max-width: 290px
        &-item
          &_text
            width: 210px
    &-form
      width: 240px
      &__wrap
        padding: 20px 12px
      &__radio
        span
          padding: 14px 10px
      &__btn
        padding: 15px 40px
  
  .features
    &-item
      width: 100%
      margin-bottom: 40px
  
  .docs
    &-item
      &s
        flex-direction: column
        align-items: center
      &:first-child
        margin: 0 0 40px 0
      &__img
        margin-bottom: 15px
  .popup
    &-wrap
      padding: 20px
    &-form
      width: 225px
      &__radio
        &s
          margin-bottom: 20px
        span
          padding: 10px
      &__btn
        padding: 20px 20px
  
@media(min-width: 768px)
  .hidden-desctop
    display: none


@media (max-width: 450px)
  .hidden-450
    display: none

  
@media (max-width: 500px)
  .example
    &-wrap
      flex-direction: column
    &-data
      margin-right: 0
      margin-bottom: 15px