.partners
  padding-top: 45px
  padding-bottom: 45px
  &-title
    text-align: center
    margin-bottom: 40px
    font-size: 20px
  &-slider
    display: flex
    justify-content: center
    &__item
      background: #fff
      padding: 10px
      margin: 0 10px
      height: 135px !important 
      &-wrap
        display: flex
        justify-content: center
        align-items: center
        border: 2px solid #fafbfc
        border-radius: 5px
        padding: 15px
        height: 100%
      &-arrow
        &__left
          width: 15px
          height: 15px
          border-radius: 50%
          background: #000000
  img
    max-width: 100%
    max-height: 100%
    height: auto

.slick-dots li button:before
  color: #286fe7
.slick-dots li.slick-active button:before
  color: #1f65d9