.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

body {
  margin: 0; }

h1, h2 {
  margin: 0; }

h2 {
  font-weight: 300; }

a {
  text-decoration: none;
  color: #000000; }

button {
  border: none; }

body {
  font-family: 'Gilroy';
  background: #fafbfb; }

.yellow {
  color: #ffcc38; }

.bold {
  font-weight: 700; }

.section-title {
  font-size: 20px;
  text-align: center; }

.input-text {
  padding: 17px 20px;
  background-color: #f8f8f8;
  -webkit-box-shadow: inset 1px 2px 3px rgba(176, 185, 199, 0.31);
          box-shadow: inset 1px 2px 3px rgba(176, 185, 199, 0.31);
  border-radius: 4px; }

.form-btn {
  padding: 25px 65px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(#1f65d9), color-stop(48%, #286fe7), to(#3982fd));
  background: linear-gradient(to top, #1f65d9 0%, #286fe7 48%, #3982fd 100%);
  border-radius: 4px 4px 8px 8px;
  cursor: pointer; }
  .form-btn:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#1f65d9), color-stop(48%, #286fe7), to(#3982fd));
    background: linear-gradient(to bottom, #1f65d9 0%, #286fe7 48%, #3982fd 100%);
    padding: 23px 63px; }

input[type="radio"] {
  display: none; }

input[type="radio"]:checked + span {
  -webkit-box-shadow: 0 1px 0 #e9aa01, inset 1px 1px 0 rgba(255, 255, 255, 0.09);
          box-shadow: 0 1px 0 #e9aa01, inset 1px 1px 0 rgba(255, 255, 255, 0.09);
  background: -webkit-gradient(linear, left bottom, left top, from(#f6bb00), color-stop(49%, #ffcc38), to(#ffda6c));
  background: linear-gradient(to top, #f6bb00 0%, #ffcc38 49%, #ffda6c 100%);
  border: 1px solid #f6bb00; }

.header {
  padding-top: 35px;
  padding-bottom: 40px;
  background: url("../img/main/main-bg.png") center no-repeat;
  background-size: cover; }
  .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .header-top__logo-img {
      margin: 5px 10px 0; }
    .header-top__logo-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header-top__logo-block_text {
        font-size: 14px;
        font-weight: 300;
        color: #8090a7;
        max-width: 180px; }
    .header-top__logo-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 20px; }
    .header-top__logo-text {
      font-weight: 700;
      font-size: 24px; }
      .header-top__logo-text_subtitle {
        font-size: 16px;
        margin: 0;
        padding: 0; }
    .header-top__contacts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 14px; }
      .header-top__contacts-time {
        margin-right: 77px; }
        .header-top__contacts-time_lable {
          font-weight: 300;
          color: #8090a7;
          margin-bottom: 3px; }
        .header-top__contacts-time_hours {
          font-weight: 700;
          font-size: 14px; }
      .header-top__contacts-tel_btn {
        background: -webkit-gradient(linear, left bottom, left top, from(#1f65d9), color-stop(48%, #286fe7), to(#3982fd));
        background: linear-gradient(to top, #1f65d9 0%, #286fe7 48%, #3982fd 100%);
        border-radius: 15px;
        padding: 5px 25px; }
        .header-top__contacts-tel_btn img {
          width: 20px; }
      .header-top__contacts-tel_number {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 4px; }
      .header-top__contacts-tel_link {
        font-size: 12px;
        font-weight: 300;
        text-decoration: underline;
        cursor: pointer; }
        .header-top__contacts-tel_link a {
          color: #2066da; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 50px; }
  .main h1 {
    font-size: 60px;
    font-weight: 700; }
  .main-text__title {
    margin-bottom: 5px; }
  .main-text__subtitle {
    font-size: 36px;
    font-weight: 300;
    width: 320px;
    margin-bottom: 65px; }
  .main-text__benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .main-text__benefit-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 25px; }
      .main-text__benefit-item_img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-width: 64px;
        max-width: 65px;
        margin-right: 15px; }
      .main-text__benefit-item_text {
        font-size: 18px;
        width: 255px; }
  .main-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 285px; }
    .main-form__bg {
      padding: 10px;
      background: #ffffff; }
    .main-form__wrap {
      padding: 23px 37px;
      border: 2px solid #fafbfc;
      border-radius: 4px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .main-form__text {
      text-align: center;
      width: 215px;
      margin-bottom: 28px; }
      .main-form__text-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 8px; }
      .main-form__text-subtitle {
        font-size: 15px;
        font-weight: 300; }
    .main-form__input {
      width: 100%;
      margin-bottom: 18px; }
    .main-form__radio {
      margin-bottom: 28px; }
      .main-form__radio span {
        display: inline-block;
        padding: 11px 25px;
        width: 49%;
        background: #f8f8f8;
        border: 1px solid #e4e7ea;
        font-size: 12px;
        font-weight: 300;
        position: relative;
        cursor: pointer; }
        .main-form__radio span.btn-left {
          border-radius: 5px 0 0 5px;
          left: 2px; }
        .main-form__radio span.btn-right {
          border-radius: 0 5px 5px 0;
          right: 2px; }
    .main-form__btn {
      width: 99%;
      margin-bottom: 25px; }
      .main-form__btn:active {
        margin-bottom: 29px; }
    .main-form__descr {
      width: 220px;
      color: #8090a7;
      font-size: 10px;
      font-weight: 300; }
      .main-form__descr-link {
        color: #2066da;
        text-decoration: underline; }

.features {
  padding-top: 50px;
  padding-bottom: 50px; }
  .features-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .features-item__img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-height: 96px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .features-item__text {
      text-align: center;
      max-width: 170px; }

.calc {
  padding-top: 50px;
  padding-bottom: 50px; }
  .calc-title {
    text-align: center;
    margin-bottom: 60px; }

.object {
  padding-bottom: 50px; }
  .object-title {
    margin-bottom: 60px; }
  .object-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .object-item {
    text-align: center; }
    .object-item:nth-child(2) {
      margin: 0 50px; }
    .object-item__img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 227px;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 20px; }
    .object-item__text {
      font-size: 16px;
      font-weight: 300; }

.docs {
  padding-top: 50px;
  padding-bottom: 50px; }
  .docs-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 65px; }
    .docs-title h2 {
      width: 560px; }
  .docs-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .docs-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px; }
  .docs-item:first-child {
    margin-right: 90px; }
  .docs-item__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
    width: 142px;
    height: 172px;
    margin-bottom: 18px; }
  .docs-item__text {
    width: 152px;
    text-align: center; }
  .docs-btn {
    padding: 25px 50px;
    width: 310px;
    font-size: 16px; }

.example {
  padding-top: 50px;
  padding-bottom: 50px; }
  .examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .example-bg {
    background: #ffffff;
    padding: 10px; }
    .example-bg:first-child {
      margin-right: 30px; }
  .example-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 2px solid #fafbfc;
    padding: 30px; }
  .example-data {
    margin-right: 28px; }
    .example-data__item {
      margin-bottom: 7px; }
      .example-data__item-title {
        color: #8090a7;
        font-weight: 300;
        font-size: 12px;
        margin-bottom: 5px; }
      .example-data__item-value {
        font-size: 14px;
        font-weight: 700; }
  .example-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .example-photo__img {
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 43px; }
    .example-photo__comment {
      width: 211px;
      font-size: 12px;
      position: relative;
      right: -10px;
      z-index: 1; }
      .example-photo__comment::before {
        content: '';
        position: absolute;
        top: -8px;
        left: -14px;
        width: 23px;
        height: 21px;
        background: url("../img/example/before-icon.png") center no-repeat;
        z-index: -1; }

.partners-title {
  margin-bottom: 30px; }

.partners-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .partners-slider__item {
    background: #fff;
    padding: 10px;
    margin-right: 20px;
    min-height: 130px; }
    .partners-slider__item-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 2px solid #fafbfc;
      border-radius: 5px;
      padding: 15px 30px; }
      .partners-slider__item-wrap-1 {
        padding: 10px 30px; }

@media (max-width: 991px) {
  .header-top__contacts-time {
    margin-right: 40px; }
  .main h1 {
    font-size: 50px; }
  .main-text__subtitle {
    font-size: 30px; }
  .main-form {
    width: 250px; }
    .main-form__radio {
      margin-bottom: 20px; }
      .main-form__radio span {
        padding: 10px 15px; }
    .main-form__wrap {
      padding: 25px 20px; }
    .main-form__input {
      margin-bottom: 15px;
      padding: 15px 20px; }
    .main-form__btn {
      margin-bottom: 20px;
      padding: 15px 50px; }
  .object-item:nth-child(2) {
    margin: 0 30px; }
  .object-item__img {
    width: 210px; }
  .examples {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .example-bg {
    margin-bottom: 30px; }
    .example-bg:first-child {
      margin-right: 0; }
  .example-photo__img {
    margin-bottom: 15px; }
  .example-photo__comment {
    font-size: 13px;
    font-weight: 500; } }

@media (max-width: 767px) {
  .hidden-mobile {
    display: none; }
  .header-top__logo-block_text {
    display: none; }
  .header-top__contacts-time {
    margin-right: 25px; }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-text__title, .main-text__subtitle {
      text-align: center; }
    .main-text__benefit {
      margin-bottom: 30px; }
    .main-form {
      width: 285px;
      margin-bottom: 21px; }
      .main-form__wrap {
        padding: 30px 40px; }
      .main-form__radio {
        margin-bottom: 30px; }
        .main-form__radio span {
          padding: 14px 25px; }
      .main-form__btn {
        padding: 25px 65px;
        width: 100%; }
  .features-item {
    width: 49%; }
  .object-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .object-item {
    margin-bottom: 30px; }
    .object-item:nth-child(2) {
      margin: 0 0 30px 0; }
    .object-item__img {
      width: 227px;
      margin-bottom: 15px; } }

@media (max-width: 575px) {
  .header-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-text__benefit {
      max-width: 290px; }
      .main-text__benefit-item_text {
        width: 210px; }
  .main-form {
    width: 240px; }
    .main-form__wrap {
      padding: 20px 12px; }
    .main-form__radio span {
      padding: 14px 10px; }
    .main-form__btn {
      padding: 15px 40px; }
  .features-item {
    width: 100%;
    margin-bottom: 40px; }
  .docs-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .docs-item:first-child {
    margin: 0 0 40px 0; }
  .docs-item__img {
    margin-bottom: 15px; } }

@media (min-width: 768px) {
  .hidden-desctop {
    display: none; } }

@media (max-width: 450px) {
  .hidden-450 {
    display: none; } }

@media (max-width: 500px) {
  .example-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .example-data {
    margin-right: 0;
    margin-bottom: 15px; } }
/*# sourceMappingURL=style.css.map */